# 👉 Ignore all log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 👉 Node.js modules and Vite build artifacts
node_modules/
dist/
dist-ssr/

# 👉 Environment-specific configuration
*.local

# 👉 Editor and IDE related files/folders
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# 👉 Miscellaneous IDE files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 👉 Optional: Ignore environment variable files
.env*

